#contact-main {
    padding: 8rem 0 5rem 0;
}
.contact-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .contact-container h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .contact-container p {
    font-size: 18px;
    padding: 0.5rem 0;
  }
  
  .form-group {
    margin: 10px 0;
    text-align: left;
  }
  
  .contact-container label {
    display: block;
    font-size: 16px;
  }
  
  .contact-container input,
  .contact-container textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }

  @media screen and (max-width: 600px) {
    .contact-container h1 {
        font-size: 30px;
      }

      .contact-container p {
        font-size: 16px;
      }

      .contact-container label {
        font-size: 15px;
      }
  }