#card_two {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#card_two img {
    width: 50px;
}

#card_two p:nth-child(2) {
    font-weight: 500;
}

/* ======= MEDIA QUERIES ======= */
@media screen and (max-width: 600px) {
    #card_two {
        padding: 2rem;
    }
}