#home .home_showcase_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 130vh;
}

#home .home_showcase_wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    height: 100%;
}

#home .home_swiper_background .swiper {
    position: absolute;
    inset: 0;
    z-index: 0;
}

#home .home_swiper_background .swiper .left {
    width: 600px;
    position: absolute;
    top: 40%;
    left: 5rem;
    z-index: 3;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}


#home .home_swiper_background .swiper .left p:first-child{
    color: #fff;
    font-size: var(--head_font);
    font-weight: 600;
    text-transform: uppercase;
}

#home .home_swiper_background .swiper .left .text {
    width: 500px;
    font-size: var(--primary_font);
}

#home .home_swiper_background .swiper .left a {
font-weight: 400;
}

#home .home_swiper_background .swiper img {
    width: 100%;
    height: 130vh;
    object-fit: cover;
    object-position: center center;
}

#home .home_showcase_wrapper .home_form {
    position: absolute;
    top: 30%;
    right: 7.5%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    background: var(--primary_color);
    width: 250px;
    min-height: 400px;
    padding: 2rem;
    border-radius: 10px;
}

#home .home_showcase_wrapper .home_form p {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

#home .home_showcase_wrapper .home_form label,
#home .home_showcase_wrapper .home_form a {
    color: #fff;
    font-size: var(--primary_font);
    font-weight: 500;
}

#home .home_showcase_wrapper .home_form input {
    padding: 0.7rem;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: var(--grey_color);
}

#home .home_form .home_form_button {
    background: var(--light_green);
}


                           /* ======= Media Queries ======= */

                           /* ====== MAX-WIDTH:920PX ======= */
@media screen and (max-width:920px) {
    #home .home_showcase_wrapper {
        min-height: 100vh;
    }

    #home .home_swiper_background .swiper .left {
        width:100%;
        position: relative;
        left: 0;
        padding: 2rem;
        margin: auto;
    }

    #home .home_showcase_wrapper .home_form {
        display: none;
    }
}



@media screen and (max-width:600px) {
    #home .home_swiper_background .swiper .left {
        width:100%;
    }
    
    #home .home_swiper_background .swiper .left p:first-child{
        font-size: 2rem;
    }
    
    #home .home_swiper_background .swiper .left .text {
        width: 100%;
    }
    
    #home .home_swiper_background .swiper .left a {
        font-weight: 400;
    }

}
