#home .home_showcase_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 130vh;
}

#home .home_showcase_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  height: 100%;
}

#home .home_swiper_background .swiper {
  position: absolute;
  inset: 0;
  z-index: 0;
}

#home .home_swiper_background .swiper .left {
  width: 600px;
  position: absolute;
  top: 40%;
  left: 5rem;
  z-index: 3;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

#home .home_swiper_background .swiper .left p:first-child {
  color: #fff;
  font-size: var(--head_font);
  font-weight: 600;
  text-transform: uppercase;
}

#home .home_swiper_background .swiper .left .text {
  width: 500px;
  font-size: var(--primary_font);
}

#home .home_swiper_background .swiper .left a {
  font-weight: 400;
}

#home .home_swiper_background .swiper img {
  width: 100%;
  height: 130vh;
  object-fit: cover;
  object-position: center center;
}

/* #home .home_showcase_wrapper .home_form {
  position: absolute;
  top: 30%;
  right: 7.5%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background: var(--primary_color);
  width: 250px;
  min-height: 400px;
  padding: 2rem;
  border-radius: 10px;
}

#home .home_showcase_wrapper .home_form p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}

#home .home_showcase_wrapper .home_form label,
#home .home_showcase_wrapper .home_form a {
  color: #fff;
  font-size: var(--primary_font);
  font-weight: 500;
}

#home .home_showcase_wrapper .home_form input {
  padding: 0.7rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: var(--grey_color);
}

#home .home_form .home_form_button {
  background: var(--light_green);
} */

/* SECTION: HOME_BOXES */
#home_boxes .home_boxes_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ======= SECTION: HOME_HELP ======= */
#home_help .home_help_wrapper {
  margin: 5rem auto;
}

.home_help_wrapper .top {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_help_wrapper .top img {
  width: 200px;
  margin-bottom: 1rem;
}

.home_help_wrapper .top p {
  max-width: 800px;
  margin: auto;
  padding: 0.5rem 0;
}

.home_help_wrapper .top p:nth-child(2) {
  font-size: var(--head_font2);
  color: var(--primary_color);
}

.home_help_wrapper .top p:nth-child(3) {
  color: var(--dark_blue);
  font-weight: 500;
  font-size: 1.5rem;
}

.home_help_wrapper .bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  margin: 3rem auto;
}

.home_help_wrapper .bottom .card {
  max-width: 300px;
  box-shadow: 0px 4px 4px rgba(33, 120, 252, 0.15);
  border-radius: 10px;
}

.home_help_wrapper .bottom .card img {
  border-radius: 10px 10px 0 0;
}

.home_help_wrapper .bottom .card .text {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.home_help_wrapper .bottom .card .text p {
  padding: 0.4rem 0;
}

.home_help_wrapper .bottom .card .text p:nth-child(1) {
  font-weight: 500;
  color: var(--dark_blue);
}

.home_help_wrapper .bottom .card .text .btn_2 {
  text-decoration: none;
  padding: 0.75rem 0.75rem;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: bold; */
  width: 90%;
  background: var(--primary_color);
  margin: 1rem 0;
  transition: all var(--transition);
}

.home_help_wrapper .bottom .card .text .btn_2:hover {
  letter-spacing: 1px;
}

/* ======= SECTION:PARTNERING =======  */
#partnering {
  margin: 5rem 0;
}

#partnering .partnering_wrapper .top p {
  margin-bottom: 1rem;
}

#partnering .partnering_wrapper .top p:nth-child(1) {
  color: var(--primary_color);
}

#partnering .partnering_wrapper .top p:nth-child(2) {
  color: var(--dark_blue);
}

#partnering .partnering_wrapper .top p:nth-child(4) {
  max-width: 700px;
  margin: auto;
}

#partnering .partnering_wrapper .top .line {
  margin-bottom: 1rem;
}

#partnering .partnering_wrapper .top .head {
  font-size: var(--head_font2);
}

#partnering .partnering_wrapper .bottom {
  background: url('../../assets/images/3386851.jpg')no-repeat center center/cover;
  min-height: 100vh;
  padding: 4rem;
  margin: 5rem 0;
}

#partnering  .bottom .partnering_title {
   color: #fff;
   text-transform: uppercase;
   margin-bottom: 1rem;
   font-weight: 500;
}

#partnering .card_box {
  max-width: 85%;
  margin: auto;
}

#partnering .partnering_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

#partnering .home_personal {
  margin-top: 5rem;
}


/* ======= SECTION : LOAN ======= */
#home_loan {
  margin-bottom: 5rem;
}

#home_loan .home_loan_wrapper .top {
  margin: 1rem 0 4rem 1rem;
}

#home_loan .home_loan_wrapper .top .heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark_blue);
  width: 300px;
}

#home_loan .home_loan_wrapper .top .line_two {
  margin-bottom: 1rem;
}

#home_loan .home_loan_wrapper .bottom {
  display: flex;
  gap: 5rem;
}

#home_loan .home_loan_wrapper .process {
  display: flex;
  gap: 2rem;
}

#home_loan .home_loan_wrapper .process .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home_loan .home_loan_wrapper .process .icon img {
  width: 50px;
}

#home_loan .home_loan_wrapper .process .icon .rod,
#home_loan .home_loan_wrapper .process .icon .rod_two {
  width: 5px;
  height: 100px;
  background: var(--dark_blue);
}

#home_loan .home_loan_wrapper .process .icon .rod_two {
  background: var(--light_green);
}


#home_loan .home_loan_wrapper .process .description p:nth-child(1) {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--dark_blue);
  margin: 1rem 0;
}

#home_loan .home_loan_wrapper .bottom .right {
  max-width: 50%;
}

#home_loan .home_loan_wrapper .bottom .right img {
  max-width: 80%;
}


/* ======= Media Queries ======= */

/* ====== MAX-WIDTH:920PX ======= */
@media screen and (max-width: 920px) {
  #home .home_showcase_wrapper {
    min-height: 100vh;
  }

  #home .home_swiper_background .swiper .left {
    width: 100%;
    position: relative;
    left: 0;
    padding: 2rem;
    margin: auto;
  }

  #home .home_showcase_wrapper .home_form {
    right: 10%;
    width: 300px;
  }
}

/* ======= MAX-WIDTH: 800PX ======= */
@media screen and (max-width: 850px) {
  #partnering .card_box {
    max-width: 100%;
  }

  /* ======= SECTION : LOAN ======= */
  #home_loan .home_loan_wrapper .bottom {
    display: flex;
    gap: 5rem;
    flex-direction: column;
  }

  #home_loan .home_loan_wrapper .bottom .right {
    display: none;
  }
}

/* ====== MAX-WIDTH:750PX ======= */
@media screen and (max-width: 750px) {
  .home_boxes_wrapper .card_wrapper {
    width: 100%;
  }
}

/* ====== MAX-WIDTH:600PX ======= */

@media screen and (max-width: 600px) {
  #home .home_swiper_background .swiper .left {
    width: 100%;
  }

  #home .home_swiper_background .swiper img {
    object-fit: cover;
  }

  #home .home_swiper_background .swiper .left p:first-child {
    font-size: 2rem;
  }

  #home .home_swiper_background .swiper .left .text {
    width: 100%;
  }

  #home .home_swiper_background .swiper .left a {
    font-weight: 400;
  }

  /* ====== SECTION: HOME_HELP ======= */
  .home_help_wrapper .top img {
    width: 150px;
  }

  .home_help_wrapper .bottom {
    flex-direction: column;
    align-items: center;
  }

  /* ======= section: partnering ======= */
  #partnering .partnering_wrapper .bottom {
    padding: 4rem 1.5rem;
  }
  #partnering .partnering_cards {
    grid-template-columns:  1fr;
  }
}
