#footer {
    background: var(--dark_blue);
    padding: 3rem 0;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    color: #fff;
}

.footer_wrapper .top {
    display: flex;
    justify-content: space-between;
    color: #fff;
    max-width: 100%;
}

.footer_wrapper .top .left {
    max-width: 33.333%;
}

.footer_wrapper .top .left img {
    width: 230px;
}

.footer_wrapper .top .left p {
    padding: 1rem 0;
    max-width: 270px;
    line-height: 1.3;
}

.footer_wrapper .top .middle {
    width: 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer_wrapper .middle ul li {
    list-style: none;
    margin-bottom: 0.65rem;
}

.footer_wrapper .middle ul li a{
    color: #fff;
    text-decoration: none;
    transition: var(--transition);
    font-size: var(--primary_font);
}

.footer_wrapper .middle ul li .footer_menu:hover,
.footer_wrapper .middle ul li a:focus {
    opacity: 0.5;
}

.footer_wrapper .middle ul li:first-child {
    font-weight: 500 ;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.footer_wrapper .right p {
    margin-bottom: 1rem;
    width: 300px;
    line-height: 1.3;
}

.footer_wrapper .right .contact {
    display: flex;
    align-items: flex-start;
    gap: 3px;
}

.footer_wrapper .right .contact img {
    width: 30px;
    object-fit: contain;
}

.footer_wrapper .right p:first-child {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.3rem;
}

.footer_wrapper .bottom .divider {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #fff;
}

.footer_wrapper .bottom .main {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.footer_wrapper .bottom .main p {
    font-size: 1rem;
}

.footer_wrapper .bottom .main .left p {
    font-size: 0.9rem;
}

.footer_wrapper .bottom .main .right a{
    font-size: 0.9rem;
    color: #fff;
    margin-right: 0.75rem;
}

.footer_wrapper .bottom .main .right a:hover,
.footer_wrapper .bottom .main .right a:focus {
    opacity: 0.75;
}


/* ========== MEDIA QUERY ========== */
@media screen and (max-width:850px) {
    .footer_wrapper {
        align-items: center;
    }

    .footer_wrapper .top {
        flex-direction: column;
        /* align-items: center; */
        gap: 2rem;
    }

    .footer_wrapper .top .middle,
    .footer_wrapper .top .right,
    .footer_wrapper .top .left {
        max-width: 100%;
        align-items: center;
        justify-content: center;
    }

    .footer_wrapper .top .left p {
        width: 100%;
    }

    .footer_wrapper .top .middle {
        align-items: flex-start;
    }
}


/* ======  MAX-WIDTH: 600PX ======= */
@media screen and (max-width:600px) {
    .footer_wrapper .top .left img {
        width: 250px;
    }

    .footer_wrapper .bottom .main {
        flex-direction: column;
        gap: 10px;
    }    
}