.deposit-form-container {
    width: 300px;
    margin: auto;
    height: 270px;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
    background-color: var(--);
  }
  
  .deposit-form-container .form-title {
    text-align: center;
    color: var(--dark_blue) !important;
  }
  
  .deposit-form-container .bottom {
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow-y: scroll;
    /* padding:  10px; */
  }
  
  .deposit-form-container .deposit {
    margin-bottom: -4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 2rem; */
    width: 100%;
    border-bottom: 1px solid #555555;
    padding: 0.5rem;
  }
  
  .deposit-form-container .deposit p {
    color: #dfdfdf;
  }
  
  /* .deposit-form-container .input-wrapper {
    margin-bottom: 15px;
  } */
  
  /* .deposit-form-container .input-label {
    display: block;
    margin-bottom: 5px;
    color: #455;
  } */
  
  /* .deposit-form-container .input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
   */